.overlay{:style => "width: #{@dropbox.width}px; height: #{@dropbox.height}px;"}
-@dropbox.boxes.each_with_index do |box, i|
  .box{:style => "left: #{box.x}px; top: #{box.y}px; width: #{box.width}px; height: #{box.height}px; background:##{rand(8).to_s(16)+rand(16).to_s(16)+rand(16).to_s(16)}"}
.note{:style => "left: #{@dropbox.width+20}px; top: 0; color: #{@dropbox.collision? ? "red" : "#333"}"}
  -if @dropbox.collision?
    %h2= "Error: Collision Detected." 
  Sum of Box Sizes: #{@dropbox.absolute_area}
  %br
  Actual Dropbox Size: #{@dropbox.actual_area}
  %br
  Waste: #{@dropbox.actual_area-@dropbox.absolute_area}
  (#{"%0.2f" % ((1-(@dropbox.absolute_area.to_f/@dropbox.actual_area))*100)}%)